html,body
{
	margin:0;
	padding:0;
}

body{
	font-family:'Source Sans Pro';
	font-weight:300;
}

html,h1,h2,h3,h4,h5,h6,button,label
{
	font-weight:300;
}

a
{
	color:black;
}

strong,.bold
{
	font-weight:400;
}