<div class="border-bottom border-silver">
	<div class="mx4 flex align-items justify-between ">
		<h1 class="h2 m1 p0"><a ui-sref="home" class="text-decoration-none"><span class="fuchsia bold">ellie</span>&nbsp;<small>by saasafari</small></a></h1>
		<div class="flex p1">
		  <div class="mr1"><a ui-sref="contact" class="btn not-rounded btn-small btn-outline fuchsia ">Contact</a></div>
		  <div><a ui-sref="signup" class="btn not-rounded btn-small btn-primary bg-fuchsia">Get Started</a></div>
		</div>
	</div>
</div>