<div class="border-bottom border-silver">
    <div class="mx4 flex align-items justify-between">
        <ul class="list-reset m1">
            <li class="inline-block mr1"><a class="text-decoration-none black" href="#">Home</a></li>
            <li class="inline-block mr1"><a class="text-decoration-none black" href="#about">Design</a></li>
            <li class="inline-block mr1"><a class="text-decoration-none black" href="#contact">Connectivity</a></li>
            <li class="inline-block mr1"><a class="text-decoration-none black" href="#contact">Support</a></li>
            <li class="inline-block"><a class="text-decoration-none black" href="#contact">Contact</a></li>
        </ul>
        <ul class="list-reset m1">
            <li class="inline-block mr1"><a class="text-decoration-none black" ui-sref="support">Support</a></li>
            <li class="inline-block"><a class="text-decoration-none black" ui-sref="signin">Sign In</a></li>
        </ul>
    </div>
</div>